#python specific
*.pyc
__pycache__
.ipynb_checkpoints

#emacs specific
\#*\#

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.log
*.out

# Project specific
/f_brute.json
/f_patched_cellpath.json
/compare.json
